* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 300ms ease-in-out;
}

body,
html {
  font-family: "Lato", sans-serif;
  background: #edf2f4;
}

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100vw;
  height: 80px;
  background: #ef233c;
  padding: 20px;
  position: fixed;
  top: 0;
}

header nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav.menu .logo {
  text-decoration: none;
  color: #edf2f4;
  font-size: 1.5rem;
}
header nav.menu a.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

header nav.menu .logo span {
  color: #cecece;
  font-weight: 700;
}

nav.menu ul {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 1.1rem;
}

nav.menu ul li a {
  text-decoration: none;
  color: #edf2f4;
  padding: 5px 10px;
  cursor: pointer;
}

nav.menu ul li a:hover {
  background-color: #d90429;
  border-radius: 6px;
}

section.banner {
  background: url(teste.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  color: #edf2f4;
  height: 350px;
  object-fit: contain;
  display: flex;
  align-items: center;
  padding-left: 5%;
  margin-top: 60px;
}

section.banner p {
  width: 60%;
  line-height: 22px;
  word-spacing: 5px;
  font-weight: bold;
}

section.catalogo {
  text-align: center;
  margin-top: 25px;
}

section.catalogo h1 {
  color: #d90429;
  font-size: 2.5rem;
  text-decoration: underline;
}

footer {
  color: #8d99ae;
}

footer .contato {
  background: #2b2d42;
  display: flex;
  align-items: center;
  height: 100px;
}

footer .contato p:first-child {
  margin-bottom: 10px;
}

footer .contato p:first-child span {
  margin-bottom: 10px;
  color: #cadaf5;
}

footer .contato a {
  text-decoration: none;
  color: #cadaf5;
}

footer .copy {
  background: #151620;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
